@import './theme.scss';

body {
    margin: 0px;
    height: 100vh;
    background: var(--bg-color);
    color: var(--color);
    font-family: Arial, Helvetica, sans-serif;
}

polygon {
    fill: var(--polygon-bg-color);
    fill-opacity: 0.5;
    stroke: var(--polygon-bg-color);
    cursor: pointer;
}

buffer-area {
    overflow: hidden;
}