
:root {
    --header-color: #969696;

    --button-bg-color: #969696;
    --button-hover-bg-color: #818181;
    --button-active-bg-color: #c9c9c9;

    --bg-color: #323232;
    --frame-bg-color: #646464;
    --color: #1b1b1b;
    --header-color: #969696;
    --polygon-bg-color: #910023;

    --work-area-ruler-bg-color: #646464;
}